<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=login" />
<link href="/css/header.css" rel="stylesheet" />
<link href="/css/input6num.css" rel="stylesheet" />
<title>Insert title here</title>
</head>
<body>
<div th:replace="~{'fragments/header' :: siteHeader}"></div>
<form id="input6NumForm" th:action="@{/user/NumberAuthentication/{isEmployer}(isEmployer=user)}" th:method="post">
<p class="six-input-description">6桁の認証コードを入力してください。</p>
<div class="six-input-Box">
<input class="no-spin" type="number" step="1" name="one" maxlength="1" inputmode="numeric"><input class="no-spin" type="number" step="1" name="two" maxlength="1" inputmode="numeric" pattern="[0-9]*">
<input class="no-spin" type="number" step="1" name="three" maxlength="1" inputmode="numeric" pattern="[0-9]*"><input class="no-spin"  type="number" step="1" name="four" maxlength="1" inputmode="numeric" pattern="[0-9]*">
<input class="no-spin" type="number" step="1" name="five" maxlength="1" inputmode="numeric" pattern="[0-9]*"><input class="no-spin" type="number" step="1" name="six" maxlength="1" inputmode="numeric" pattern="[0-9]*">
</div>
<input type="submit" value="認証する">
</form>
<script src="/js/login.js"></script>
</body>
</html>